    {% extends 'my_site/navbar.html'%}
    {% load static %}
    {% load i18n %}
    {% load mathfilters %}

    {% block content %}
        <head>
            <title>Контакты</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
            <link href="{% static 'css/news.css' %}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Rubik:100, 300, 400, 700" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Kanit:100, 300, 400, 700" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css">

            <style>
                body {
                    min-height: 100vh;
                    background: #e9e9e9;
                }
            </style>
        </head>
        <body>
            <div class="container mt-4">

                <h1 class="font-weight-normal text-center mb-4 mt-4">КОРЗИНА</h1>
                <hr>
                <div class="row d-flex justify-content-center align-items-start h-100 mt-4">
                    <div class="col-md-12 col-lg-8">
                        {% for entry in cart %}
                        <div class="card rounded-3 mb-4">
                            <div class="card-body p-4">
                                <div class="row d-flex justify-content-between align-items-center">
                                    <div class="col-md-2 col-lg-2 col-xl-2">
                                        <img src="{{ entry.product.photo.url }}"  alt="" class="img-fluid d-block mx-auto mb-3">
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-3 mb-4 text-center ">
                                        <p class="large lead fw-normal mb-2 " style="font-size: 20px; font-weight: 400;">{{entry.product.name}}</p>
                                    </div>
                                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex mb-4 text-center">
                                        <button class="btn btn-link px-2"
                                                onclick="">
                                            <i class="fas fa-minus"></i>
                                        </button>

                                        <input id="form1" min="0" onchange="" name="quantity" value={{entry.quantity}} type="number"
                                               class="form-control form-control-sm text-center h2" style="font-size: 15px; font-weight: 400;" />

                                        <button class="btn btn-link px-2"
                                                onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>

                                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mb-4 text-center">
                                        <h3 class="mb-0">{{entry.product.price|mul:entry.quantity|floatformat:"-2"}} BYN</h3>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mb-4 text-center">
                                        <a href="{% url 'delete_cart_item' pk=entry.product.id %}">
                                            <h2 class="text-dark glyphicon glyphicon-trash"></h2>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                    <div class="col-md-12 col-lg-4" style="min-height: 594px;">
			 				<div class="card rounded-3 mb-4">
                                <div class="card-body p-4" >
                                    <div class=" row m-1 mb-4">
                                        <div class="col h2" style="font-family: 'Kanit', sans-serif;font-weight: 600; font-size: 2.5rem;" >ИТОГО</div>
                                        <div class="col h2 text-right" style="font-family: 'Kanit', sans-serif;font-weight: 600">
                                            {{ my_cart.total }}BYN</div>
                                    </div>
                                    <div class="h3 row m-3 mb-4" style="color: #464646; font-family: 'Kanit', sans-serif;font-weight: 600">
                                        <div class="col" >ITEMS {{ my_cart.count }}</div>
                                        <div class="col text-right" style="color: #464646; font-family: 'Kanit', sans-serif;font-weight: 600">
                                            {{ my_cart.total }}BYN</div>
                                    </div>
                                    <button type="submit" class="btn btn-block mt-4"
                                            style="background-color: #cdb693; border-radius: 5px;">
                                        <div class="h3 mb-0 text-dark" style="color: #464646; font-family: 'Kanit', sans-serif;font-weight: 600; font-size: 2.2rem;">ОПЛАТИТЬ</div>
                                    </button>
                                </div>
				 			</div>
			 			</div>
                </div>
            </div>
        </body>
    {% endblock %}