{% extends 'my_site/navbar.html'%}
{% load static %}
{% load i18n %}
{% block content %}
    <head>
        <title>Каталог</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="{% static 'css/catalogue.css' %}" rel="stylesheet">
        <style>
            body {
                min-height: 100vh;
                background: #e9e9e9;
            }
        </style>
    </head>
    <body>
    <div class="container mt-4">
        <h1>КАТАЛОГ</h1>
        <hr>
        <p>Представлено {{ products.count }} товаров</p>
        <div class="row pb-5 mb-4">

            {% for product in products%}
            <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
                <!--          CARD-->

                      <div class="card rounded shadow-sm border-0">
                          <a href="{% url 'detail' pk=product.id %}">
                              <div class="card-body p-4"><img src="{{ product.photo.url }}"  alt="" class="img-fluid d-block mx-auto mb-3">
                                  <h3> <a href="#" class="text-dark " style="text-decoration: none!important;">{{ product.name }}</a></h3>
                                  <p class="medium text-muted font-italic">{{ product.size }}</p>
                                  <p class="small text-muted font-italic">{{ product.description|slice:":50"}}...</p>
                                  <h4 class="font-bold">{{ product.price }} BYN</h4>
                              </div>
                          </a>
                      </div>

            </div>
            {% endfor %}
        </div>
    </div>
    </body>
{% endblock %}